<head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/myStyle.css"/>


<meta charset="utf-8">
<title>DOCUMENTS MUNICIPALS</title>
</head>
<div ui-view>
	<header>
	      <a class="navbar-brand" href="#">DOCUMENTS MUNICIPALS  :</a>
	</header>


  <section  class="container-fluid">
 <nav class="navbar navbar-inverse spacer">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ARRETE
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
	          <li><a href="editerArticle">EDITER ARTICLE</a></li>
	          <li><a href="editerCode">EDITER CODE </a></li>
	          <li><a href="editerDroit">EDITER DROIT</a></li>
	          <li><a href="editerTitre">EDITER TITRE</a></li>
           </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"  href="#">AUTORISATION<span class="caret"></span></a>
          <ul class="dropdown-menu">
	          <li><a href="creationAutorisation">EDITER AUTORISATION</a></li>
	          <li><a href="editerAutorisation">RECHERCHER AUTORISATION</a></li> 
          </ul>       
      </li>
        
     <li class="dropdown"> 
        <a class="dropdown-toggle" data-toggle="dropdown"  href="#">ADRESSE<span class="caret"></span></a>
          <ul class="dropdown-menu">
	        <li><a href="editerAdresse">EDITER ADRESSE</a></li>
	        <li><a href="rechercherAdresse">RECHERCHER ADRESSE</a></li> 
         </ul>       
     </li>
     
    <li class="dropdown"> 
        <a class="dropdown-toggle" data-toggle="dropdown"  href="#">SOCIETE<span class="caret"></span></a>
          <ul class="dropdown-menu">
	        <li><a href="editerSociete">EDITER SOCIETE</a></li>
	        <li><a href="rechercherSociete">RECHERCHER SOCIETE</a></li> 
         </ul>       
      </li>
          <li class="dropdown"> 
        <a class="dropdown-toggle" data-toggle="dropdown"  href="#">TARIFICATION<span class="caret"></span></a>
          <ul class="dropdown-menu">
	        <li><a href="editerTarif">EDITER TARIFICATION</a></li>
	        <li><a href="rechercherTarif">RECHERCHER TARIFICATION</a></li> 
         </ul>       
      </li>
      
    </ul>
  </div>
</nav>  
</section> 			 
</div>